In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris

# 2회차 과제
목표: 빅데이터 기본 처리

다음은 분꽃에 관한 여러 데이터이다. Python을 이용해 적절히 분석하시오.

In [33]:
iris_raw = load_iris()
iris = pd.DataFrame(data=iris_raw.data, columns=iris_raw.feature_names)
display(iris)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [11]:
# 꽃받침(sepal)의 평균 길이를 구하시오.
print(np.mean(iris['sepal length (cm)']))

5.843333333333334

In [12]:
# 꽃잎(petal)의 최대 길이와 최소 길이를 구하시오.
print(np.min(iris['petal length (cm)']))
print(np.max(iris['petal length (cm)']))

1.0
6.9

In [34]:
# 꽃받침의 길이와 너비가 각각 5cm, 3cm 이상인 데이터만을 선별하시오.
iris[(iris['sepal length (cm)'] >= 5) & (iris['sepal width (cm)'] >= 3)]

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
4                  5.0               3.6                1.4               0.2
5                  5.4               3.9                1.7               0.4
7                  5.0               3.4                1.5               0.2
10                 5.4               3.7                1.5               0.2
..                 ...               ...                ...               ...
144                6.7               3.3                5.7               2.5
145                6.7               3.0                5.2               2.3
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[75 rows x 4 columns]

In [55]:
# 꽃잎의 너비가 0.2 이하인 데이터는 총 몇 개인가?


pw = iris[iris['petal width (cm)'] <= 0.2]
print(len(pw)+1)

35

In [62]:
# 꽃잎의 너비, 꽃받침의 너비, 꽃잎의 길이, 꽃받침의 길이 순서로 내림차순 정렬하시오.
iris.sort_values(by=['petal width (cm)','sepal width (cm)','petal length (cm)','sepal length (cm)'], 
                 ascending = [False, False, False, False])

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
109                7.2               3.6                6.1               2.5
100                6.3               3.3                6.0               2.5
144                6.7               3.3                5.7               2.5
136                6.3               3.4                5.6               2.4
140                6.7               3.1                5.6               2.4
..                 ...               ...                ...               ...
32                 5.2               4.1                1.5               0.1
37                 4.9               3.6                1.4               0.1
9                  4.9               3.1                1.5               0.1
12                 4.8               3.0                1.4               0.1
13                 4.3               3.0                1.1               0.1

[150 rows x 4 columns]